html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.grid {
  background-color: #ddd;
  width: 800px;
  height: 400px;
  padding: 20px;
  margin: 20px auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  align-content: space-between;
  gap: 20px;
}

.grid div {
  background-color: red;
  text-align: center;
}