html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.page {
  background-color: #eee;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) 20%;
  gap: 10px;
}

.page div {
  padding: 10px;
  border-bottom: 3px solid red;
  position: relative;
}

svg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: gray;
}

.osama-mohamed {
  grid-column: 1 / span 2;
  background-color: white;
}

.mohamed-ibrahim {
  grid-row: 2 / 4;
  background-color: white;
}

.mahmoud-mohamed {
  grid-column: 2 / 4;
  background-color: black;
  color: white;
}

.ez-eddine {
  grid-column: 2 / 4;
  background-color: white;
}

.ahmed-sayed {
  background-color: white;
}

.shady-nabil {
  grid-area: 1 / 4 / 4 / 5;
  color: white;
  background-color: black;
}

.tt {
  background-color: black;
  color: white;
}

.t,
.ttt,
.tttt {
  overflow: hidden;
  background-color: white;
}

h3 {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: -15px;
}

h4 {
  color: rgb(153, 150, 150);
  text-transform: capitalize;
  padding-top: 0px;
}

.p1 {
  font-weight: bold;
}
