html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 400px;
    height: 60px;
    margin: auto;
    background-color: #ddd;
    padding-top: 36px;
    text-align: center;
}

div::first-letter {
    padding: 25px 15px;
    background-color: red;
    color: white;
    margin-left: -50px;
}