body {
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-size: 30px;
}

p {
    background-color: #ddd;
    padding: 20px;
    margin: 15px;
    text-align: center;
    text-transform: capitalize;
}

.first {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}
.second {
    font-weight: 700;
    font-family: "Cairo", sans-serif;
}
.third {
    font-weight: 400;
    font-family: "Jomhuria", sans-serif;
}