.html,
.css,
.js {
    width: 400px;
    margin: auto;
    background-color: #eee;
    overflow: hidden;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.css li,
.html li,
.js li {
    background-color: azure;
    list-style-position: outside;
    margin: 5px;
    padding: 10px;
}

.html ol,
.css ol {
    padding-left: 20px;
}

.js ul {
    padding-left: 0px;
    margin: -5px;
}

.js ul li {
    list-style-position: inside;
    margin-top: 12px;
}

.css ol {
    list-style-type: upper-roman;
    list-style-type: var(10);
}