html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

table {
    width: 700px;
    margin: auto;
    display: table;
    border: 0px solid;
    text-align: center;
    overflow: hidden;
}

table td {
    padding: 20px;
    background-color: #eee;
}

table thead td{
    background-color: black;
    color: white;
    font-weight: bold;
}

table tbody td div {
    display: inline-block;
    color: white;
    font-size: 15px;
    margin: auto;
    height: 10px;
    padding-top: 5px;
    text-align: center;
    /* height: 10px; */
}

.view {
    background-color: rgb(102, 102, 234);
    width: 40px;
}

.del {
    background-color: rgb(227, 34, 89);
    width: 55px;
}

.control {
    width: 200px;
}

.name {
    width: 200px;
}

tbody td {
    height: 60px;
}