html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #050303;
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

div {
  background-color: #ddd;
  text-align: center;
  padding-top: 5px;
  height: 100px;
}

p:not(.para) {
  margin-top: -10px;
}

@media (min-width: 1200px) {
  div {
    width: calc(25% - 25px);
  }
  .para {
    color: rgb(50, 170, 192);
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: 1199px) {
  body {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  div {
    width: calc(50% - 25px);
    margin-bottom: 50px;
  }
  .para {
    color: red;
    font-size: 20px;
    font-weight: bold
  }
}

@media (max-width: 767px) {
  div {
    width: 100%;
  }
  .para {
    color: initial;
    font-size: 20px;
    font-weight: bold
  }
}
