* {
  box-sizing: border-box;
}

body {
  font: 20px Arial, sans-serif;
}

ul:not(:last-child) {
  background-color: #eee;
  padding: 10px;
  width: 600px;
  margin: auto;
  overflow: hidden;
  list-style-position: inside;
  list-style-type: none;
}

li {
  counter-increment: name;
  position: relative;
}

body > ul > li:not(:last-of-type):before {
  content: counter(name);
  position: absolute;
  background-color: #ddd;
  padding: 10px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-weight: bold;
  text-align: center;
  top: 9px;
  left: 9px;
}

body > ul > li:last-of-type::before {
  content: "4";
  position: absolute;
  width: 15px;
  height: 15px;
  padding: 10px;
  line-height: 15px;
  font-weight: bold;
  text-align: center;
  top: 10px;
  left: 14px;
}

body > ul > li:not(:last-of-type) {
  background-color: white;
  padding: 15px;
  margin-bottom: 5px;
  padding-left: 55px;
}

body > ul > li:last-of-type {
  background-color: #ddd;
  padding: 15px;
  padding-left: 60px;
}

body > ul > li:last-of-type ul li {
  padding: 15px;
  background-color: white;
  margin-bottom: 5px;
  padding-left: 60px;
  counter-increment: test;
  position: relative;
}

body > ul > li:last-of-type ul li:before {
  position: absolute;
  content: "4." counter(test);
  width: 25px;
  height: 15px;
  padding: 10px;
  line-height: 15px;
  font-weight: bold;
  text-align: center;
  top: 9px;
  left: 8px;
  background-color: rgb(3, 163, 147);
  color: white;
}

li:last-of-type:before {
  background-color: white;
}

li:last-of-type ul {
  padding-left: 0px;
  padding-top: 15px;
  list-style-type: none;
}