html {
  font: 20px Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --mainPadding: 10px;
}

body {
  background-color: #ddd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 400px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0 0 var(--mainPadding) red,
    0 0 0 calc(var(--mainPadding) + 10px) green,
    0 0 0 calc(var(--mainPadding) + 20px) black,
    0 0 0 calc(var(--mainPadding) + 30px) blue,
    0 0 0 calc(var(--mainPadding) + 40px) yellow,
    0 0 0 calc(var(--mainPadding) + 50px) red,
    0 0 0 calc(var(--mainPadding) + 60px) white,
    0 0 0 calc(var(--mainPadding) + 70px) black;
}