.example {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
  /* Shorten Code in One Line */
  margin: 10px 20px 15px 20px;
}
.one {
  background-color: black;
  background-image: url("../imgs/one.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  /* Shorten Code in One Line */
  background: black url("../imgs/one.jpg") no-repeat left top / cover;
}
.two {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000;
  /* Shorten Code in One Line */
  border-top: 1px solid #000;
}
.three {
  top: 10px;
  right: 20px;
  bottom: 10px;
  left: 20px;
  /* Shorten Code in One Line */
  inset: 10px 20px 10px 20px;
}
.four {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 10%;
  /* Shorten Code in One Line */
  flex: 3 3 10%;
}
.five {
  flex-direction: column;
  flex-wrap: wrap;
  /* Shorten Code in One Line */
  flex-flow: column wrap;
}