body {
  font: 10px Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

div {
  background-color: #eee;
  padding: 20px;
  position: relative;
  width: 300px;
  margin: 20px auto;
}

input {
  border: none;
  outline: none;
  border-radius: 0px 2px 2px 0px;
  position: absolute;
  width: 200px;
  height: 27.33px;
  transform: translate(0px, -8px);
  font-size: 10px;
  padding-left: 7px;
}

.prefix {
  color: white;
  background-color: rgb(22, 145, 116);
  padding: 8px;
  border-radius: 2px 0px 0px 2px;
}