body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

.parent {
    background-color: #eee;
    margin: 20px;
    overflow: hidden;
    width: 800px;
}

.fw,
.one-third,
.half,
.quarter {
    padding: 0 15px 15px 0;
    overflow: hidden;
    text-align: center;
}

.fw {
    background-color: #ddd;
    margin: 15px;
    padding: 15px;
}

.one-third div {
    background-color: #ddd;
    display: inline-block;
    width: calc((100% - 15px * 4) / 3);
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.half div {
    display: inline-block;
    width: calc((100% - 15px * 3) / 2);
    background-color: #ddd;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.quarter div {
    background-color: #ddd;
    display: inline-block;
    width: calc((100% - 15px * 6)/ 4);
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
