.class {
  background-color: #eee;
  width: 200px;
  margin: 20px auto;
  padding: 15px;
  transform: matrix(3, 0.2679, 0, 3, 20, 100);
  transform: translateX(20px) translateY(100px) scaleX(3) skewY(15deg) skewX(0deg) scaleY(3);
}